.navbar {
    align-content: center;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navbar-brand {
    padding-left: 10px;
}


.navbar-nav {
    margin: 0 auto; /* Center the nav items horizontally */
}


.navbar-nav .nav-item .nav-link {
    margin-right: 15px;
    transition: color 0.3s ease;
    border-radius: 10px;
}
.navbar-open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar-collapse {
    width: 100%;
    margin-top: 5px; /* Add space between navbar and content */
}
.contact-nav{
    color:white;
    text-align: center;
}

.navbar-contact{
    background-color: #cb0006;
    border-radius:10px;
}
/* Responsive adjustments */
@media (max-width: 767px) {
    .navbar-nav {
        text-align: center; /* Center the nav items vertically */
    }

    .navbar-nav .nav-item .nav-link {
        margin-right: 0;
        margin-bottom: 10px; /* Add space between collapsed nav items */
    }
}

.logo {
    width: 80px;
    height: 50px;
}
