.summary-container {
    position: relative;
    background-color: #f3f1ee;
    margin-top: 30px;
    height: 60vh;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary-container p, h5, h3 {
    text-align: start;
    margin-bottom: 20px;
}

.summary-container .summary-image {
    display: block;
    border-radius: 20px;

    min-width: 200px; /* Set your minimum width */
    max-width: 400px; /* Set your maximum width */
    width: 100%; /* Set the width to 100% of its container */
    height: auto; /* Maintain the aspect ratio */
    object-fit: fill;
}

.summary-image-col,
.summary-text-col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.summary-text-col {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.summary-text-col .summary-text {
    text-align: start;
}

/* Apply alternating styles based on even/odd class */
.summary-container.even .summary-text-col {
    order: 1;
}

.summary-container.even .summary-image-col {
    order: 2;
}

.summary-container.odd .summary-text-col {
    order: 2;
}

.summary-container.odd .summary-image-col {
    order: 1;
}

/* Add a style for the custom button */
.custom-button {
    background-color: #cb0006; /* Choose your desired background color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #0056b3; /* Choose your desired hover background color */
}

/*@media (min-width: 768px) {

    .summary-image-col img {
        --_g: 10% /45% 45% no-repeat linear-gradient(#000 0 0);
        --m: left var(--_i, 0%) top var(--_g),
        bottom var(--_i, 0%) left var(--_g),
        top var(--_i, 0%) right var(--_g),
        right var(--_i, 0%) bottom var(--_g);
        -webkit-mask: var(--m);
        mask: var(--m);
        transition: .3s linear;
        cursor: pointer;
        animation: pulse 3s infinite linear;
    }

    @keyframes pulse {
        0% {
            --_i: 0%;
            filter: grayscale(1);
        }
        20% {
            --_i: 4%;
            filter: grayscale(0);
        }
        40% {
            --_i: 8%;
            filter: grayscale(0);
        }

        50% {
            --_i: 10%;
            filter: grayscale(0);
        }

        60% {
            --_i: 8%;
            filter: grayscale(0);
        }
        80% {
            --_i: 4%;
            filter: grayscale(0);
        }
        100% {
            --_i: 0%;
            filter: grayscale(1);
        }
    }
}*/


@media (max-width: 767px) {
    .summary-container {
        flex-direction: column;
        height: auto;
    }

    .summary-container .summary-image-col,
    .summary-container .summary-text-col {
        padding: 20px; /* Adjust padding for better spacing on mobile */
    }

    /* Explicitly set order for mobile layout */
    .summary-container.odd .summary-image-col,
    .summary-container.even .summary-image-col {
        order: 1;
    }

    .summary-container.odd .summary-text-col,
    .summary-container.even .summary-text-col {
        order: 2;
    }

    .summary-container.odd .summary-text-col,
    .summary-container.even .summary-text-col {
        text-align: center; /* Center-align text on mobile */
    }
}

